body{
    font-family: 'Roboto',
    sans-serif;
}
.container{
    display: flex;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    column-gap: 100px;
}
.total-border{
    border-top: 1px solid black;
}
.bottom-text{
    text-align: center;
}
.apply-btn{
    background-color: #e40000cb;
    color: white;
    padding: 5px 10px;
    border: 0;
    border-radius: 3px;
}