body{
    font-family: 'Roboto',
    sans-serif;
}
.container{
    display: flex;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    column-gap: 100px;
}
.total-border{
    border-top: 1px solid black;
}
.article{
    
}
#bottom-text{
    text-align: center;
}